title = "anvelope-jante-auto"
url = "/anvelope-jante-auto"
layout = "default"
is_hidden = 0
==
<div class="container text-center" id="content">

    <h1>Anvelope și jante auto</h1>


    <p class="text-center"><b>Iti oferim o gama larga de anvelope pentru orice sezon si pentru toate buzunarele!</b></p>

    <p>Oferta de jante auto din aliaj sau otel o configuram NUMAI pentru jante compatibile cu autoturismul dvs.</p>

    <h2>Montajul este oferit Gratuit clientilor nostri!</h2>

    Printre altele suntem si distribuitori autorizati ai urmatoarelor marci de renume: <br/>OZ, Borbet, Sparco, Nokian

    <div class="clearfix">&nbsp;</div>

    <p>Solicita ACUM oferta personalizata:</p>


    <a href="mailto:service@mecca.ro">service@mecca.ro</a>
    <br/>
    <a href="tel:0244 515 736">0244 515 736</a>


</div>