title = "despre-instalatiile-gpl"
url = "/despre-instalatiile-gpl"
layout = "default"
is_hidden = 0
==
<div class="container" id="content">

<h1>Despre instalațiile GPL</h1>


    <div class="col-sm-4 text-center">
        <img src="{{'assets/images/logo-BRC.gif'|theme}}" style="width: 200px; max-width: 100%;" alt=""/>

    </div>
    <div class="col-sm-8 text-left">
        <h2>Casa Auto Mecca – singurul distribuitor si montator, autorizat BRC Italia, din Prahova</h2>

        BRC GAS EQUIPMENT
        100% ITALIAN, AVAND CEA MAI MARE COTA DE PIATA DIN LUME
        BRC GAS EQUIPMENT este o companie Italiana, liderul in fabricarea si comercializarea componentelor si sitemelor  GPL si CNG  pentru autovehicule.

    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>

    <blockquote>
        Produsele BRC GAS EQUIPMENT sunt caracterizate prin performante excelente, avand un impact minim asupra mediului inconjurator. 
        BRC va ofera garantie europeana de 2 ani de zile fara limita de kilometrii pentru fiecare instalatie de gaz. Reviziile la instalatiile BRC se fac la intervale duble de km fata de alte instalatii.

    </blockquote>
</div>