title = "intrebari-frecvente"
url = "/intrebari-frecvente"
layout = "default"
is_hidden = 0
==
<div class="container" id="content">
<h1>
<i class="fa fa-question-circle"></i>
Întrebări frecvente
<span>Despre GPL</span>
</h1>


<h2>Ce tip de instalatie se potriveste autovehiculului meu?</h2>
 Pentru a afla raspunsul la aceasta intrebare apelati cu incredere la montatorul dvs. El este in masura sa stabileasca tipul instalatiei gpl compatibila cu masina dvs. in functie de tipul motorului, anul fabricatiei, carburatie, injectie etc.


<h2>Exista autovehicule incompatibile conversiei GPL?</h2>
Da, exista, insa numarul lor este foarte mic. Majoritatea autovehiculelor pot fi convertite pe gpl. Intrebati montatorul daca masina dvs. se preteaza conversiei cu GPL.
Se poate monta o instalatie gpl pe o masina ce are mai mult de 4 cilindrii?  Da, instalatiile GPL marca BRC suporta motoare cu 3-4-5-6-8-10-12 cilindrii, motoare aspirate sau turbo.
<h2>Butelia GPL creste riscul de explozie in cazul unui accident?</h2> 
Categoric NU. Rezervoarele de GPL sunt facute din otel special gros de 3-4 mm si rezista la o presiune de cateva zeci de ori mai mare decat presiunea pe care o aveti in mod normal in rezervor atunci cand alimentati intr-o statie gpl. Ca masura de protectie acestea se pot umple doar la 80% din capacitatea lor pentru ca gpl-ul sa se poata dilata. Multivalva atasata rezervorului este prevazuta cu o supapa speciala in caz de incendiu, care elimina gazul treptat, fara ca rezervorul sa explodeze.  Practic un rezervor de GPL este mai sigur decat unul de benzina. Chiar si in cazul unui impact direct in care masina este distrusa complet acesta nu elimina schije si refuleaza gazul in mod controlat eliminand posibilitatea unei explozii.
    <h2>Instalatia de GPL imi scurteaza viata motorului?</h2> 
    Nu, dimpotriva, este doar un mit raspandit eronat. GPL-ul este un carburant mai curat decat benzina, care nu lasa depuneri de calamina in motor, are o ardere completa, ce prelungeste viata bujiilor si nu murdareste uleiul, datorita faptului ca particulele de gaz nu se amesteca cu uleiul. Cea mai raspandita poveste este “arderea uscata”. Arderea prin felul ei este “uscata” indiferent de tipul de combustibil. Motorul in 4 timpi are instalatie proprie de ungere, instalatie ce asigura ungerea sub presiune a tuturor componentelor in miscare, supuse frecarii, inclusiv a supapelor si a cilindrilor.
        <h2>Daca montez GPL  performantele motorului vor scadea dramatic?</h2> 
    Iarasi NU. Instalatiile GPL de ultima generatie (injectia secventiala directa) asigura performante excelente masinii dvs. Pierderea de putere fiind insesizabila (2-3%), ea putand fi observata doar pe standul dinamic. O pierdere de putere ceva mai mare, dar nu alarmanta, o au instalatiile gpl traditionale (pe carburatie). Pentru a intarii afirmatiile noastre, va dezvaluim ca BRC a participat la raliu, obtinand locul 2, cu o masina alimentata pe GPL.
            <h2>Dupa montaj instalatia de gaz trebuie omologata?</h2> 
    Da. Procedura este insa foarte simpla. Instalatia se omologheaza la R.A.R (Registrul Auto Roman). Trebuie sa va prezentati cu certificatul de inmatriculare, cartea de identitate, buletinul si documentele eliberate de montatorul dvs. Instalatia  se monteaza conform unor reguli bine stabilite, dupa care este verificata de catre montatorul dvs. R.A.R-ul la randul sau verifica si constata daca au fost indeplinite conditiile necesare omologarii (amplasare corecta a pieselor, montaj, serii, marci de omologare)
                <h2>Daca montez instalatie de GPL, masina mea va mai merge si pe benzina?</h2> 
    Da.  GPL-ul este o alternativa non-exclusiva. Masina dvs. va putea functiona atat pe gaz cat si pe benzina, astfel autonomia ei crescand considerabil.
</div>