title = "linie-itp"
url = "/linie-itp"
layout = "default"
is_hidden = 0
==
<div class="container" id="content">
<h1>Linie ITP</h1>
<h2>LA CASA AUTO MECCA POȚI EFECTUA INSPECȚIA TEHNICA PERIODICĂ A MAȘINII TALE, INDIFERENT DE MARCĂ ȘI MODEL</h2>

<p>DOCUMENTE NECESARE EFECTUĂRII ITP–ULUI :</p>
<ul>
    <li>Cartea de identitate a autovehiculului (la autovehiculele în leasing sau înregistrate pe o societate comercială
        se admite copia cărții de identitate cu ștampila în original)</li>
    <li>Certificatul de înmatriculare al autovehiculului</li>
    <li>Buletin sau CI utilizator</li>
    <li>Asigurarea obligatorie a autovehiculului, valabilă la data inspectiei</li>
</ul>
</div>