title = "mecanica-electrica-multimarca"
url = "/mecanica-electrica-multimarca/:parent?"
layout = "default"
is_hidden = 0
==
<div class="container" id="content">

<h1>
    Mecanică și electrică
    <span>Multimarcă</span>
</h1>
<h2>DE CE SĂ ALEGI SERVICIILE NOASTRE DE MECANICĂ AUTO?</h2>
<ul>
    <li>Investim în echipamente specifice și produse optimizate în pas cu tendințele din domeniul auto</li>
    <li>Investim în specializarea personalului tehnic (instruire profesionistă, conform celor mai noi standarde ale constructorului)</li>
    <li>Programare rapidă</li>
    <li>Echipa este implicată, operativă și punctuală pentru a reusi sa îți oferim rapid soluții
        Diagnoza este corectă, rapidă si precisă
    </li>
</ul>
<h2>DOTARILE SERVICE-ULUI DE MECANICA CASA AUTO MECCA</h2>
<ul>
    <li>7 elevatoare pentru lucrări de mecanică</li>
    <li>1 rampă reglat direcțtie autovehicul</li>
    <li>2 posturi electrică auto</li>
    <li>2 consilieri recepție mecanică</li>
    <li>gamă largă de SDV-uri (scule și dispozitive de verificare impuse de constructor)</li>
    <li>echipamente și scule universale foarte variate, care acoperă necesitatea intervenției pe orice marcă de autovehicul</li>
    <li>informații tehnice și baze de date (manuale service, buletine tehnice furnizate de catre constructor)</li>
</ul>
<h2>OFERIM SERVICE DE SPECIALITATE PENTRU URMATOARELE SISTEME MECANICE:</h2>
<ul>
    <li>sistem de propulsie</li>
    <li>sistem de alimentare</li>
    <li>sistem de suspensii</li>
    <li>sistem de răcire</li>
    <li>sistem de frânare</li>
    <li>motoare (inclusiv reparații capitale)</li>
    <li>reparații distribuții</li>
    <li>reparații tren de rulare (amortizoare, bascule, bucsi)</li>
    <li>resetare erori computer de bord</li>
</ul>
<h2>INTERVENTII SI REPARATII PE SISTEMELE ELECTRICE</h2>
<p>Casa Auto Mecca asigură diagnosticare, intervenție și reparație electrică pentru orice marcă de autovehicul pentru urmatoarele sisteme electrice:</p>
<ul>
    <li>sistem de încarcare (alternator)</li>
    <li>sistem de pornire</li>
    <li>sistem de iluminare (reglaj faruri, montaj instalații xenon)</li>
    <li>gestionare si management sistem ABS</li>
    <li>gestionare motor</li>
    <li>control habitaclu: sistem audio-video, sistem iluminat, management si optimizare sistem aer condiționat (climatizare), sistem încalzire scaune, acționare geamuri electrice, închidere centralizata</li>
    <li>control tracțiune, transmisie 4×4</li>
    <li>sistem airbag</li>
    <li>sistem semnalizare</li>
</ul>
</div>