title = "produse-uri"
url = "/:parent/:subparent/:page|^[0-9]+$"
layout = "default"
is_hidden = 0

[products]
==
{% set categories = builderList.records %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="clearfix">&nbsp;</div>

            <ul class="list-unstyled" id="sidebar_subcategs">
                <li>
                    <a href="atv-quad/can-am/1">ATV Can-Am
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/cf-moto/1">ATV CF Moto
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/atv-honda/1">ATV Honda
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/atv-kawasaki/1">ATV Kawasaki
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/atv-linhai/1">ATV Linhai
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/polaris/1">ATV Polaris
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/atv-suzuki/1">ATV Suzuki
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/atv-yamaha/1">ATV Yamaha
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="atv-quad/can-am-ssv/1">Can-Am SSV
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1>ATV & Quad</h1>
            <div>
                <nav style="text-align: center;">
                    <ul class="pagination" style="margin-top: 0;">
                    
                        {% if products.currentPage > 2 %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: 1})}}"><<</a>
                        </li>
                        {% endif %}
                        
                        {% if products.currentPage > 1 %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: products.currentPage-1})}}"><</a>
                        </li>
                        {% endif %}

                        {% for page_number in 1..products.lastPage %}
                            
                            <li class="{{products.currentPage == page_number ? 'active' : null }}"><a href="{{this.page.baseFileName|page({ page: page_number})}}">{{page_number}}</a></li>
                        {% endfor %}

                        {% if products.lastPage > products.currentPage %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: products.currentPage+1 })}}">></a>
                        </li>
                        {% endif %}
                        
                        {% if products.currentPage >= 1 and products.currentPage < products.lastPage-1 %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: products.lastPage})}}">>></a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
                
            </div>
                <div class="row" id="product_list">
                    {% component 'products' %}
                </div>
                   
                

                <div class="clearfix hidden-xs"></div>
                <div class="clearfix"></div>


                <div>
                <nav style="text-align: center;">
                    <ul class="pagination" style="margin-top: 0;">
                        {% if products.currentPage > 2 %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: 1})}}"><<</a>
                        </li>
                        {% endif %}
                        
                        {% if products.currentPage > 1 %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: products.currentPage-1})}}"><</a>
                        </li>
                        {% endif %}

                        {% for page_number in 1..products.lastPage %}
                            
                            <li class="{{products.currentPage == page_number ? 'active' : null }}"><a href="{{this.page.baseFileName|page({ page: page_number})}}">{{page_number}}</a></li>
                        {% endfor %}

                        {% if products.lastPage > products.currentPage %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: products.currentPage+1 })}}">></a>
                        </li>
                        {% endif %}
                        
                        {% if products.currentPage >= 1 and products.currentPage < products.lastPage-1 %}
                        <li>
                            <a href="{{ this.page.baseFileName|page({ page: products.lastPage})}}">>></a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
                
            </div>

            </div>
        </div>
    </div>