title = "produs"
url = "/:parent/:subparent/:product"
layout = "default"
is_hidden = 0

[products]
==
<div class="container text-center">
    <h1>{{products.name}}</h1>
    <div class="col-lg-6">
        <img class="img-responsive" src="{{'assets/images/products'|theme}}/{{products.image}}">
    </div>
    <div class="col-lg-6">
    <p>{{products.description}}</p>
    </div>
    
</div>