title = "promotii"
url = "/promotii"
layout = "default"
is_hidden = 0
==
<div class="container" id="content">
<h1>
    <i class="fa fa-certificate"></i>
    Promoții
</h1>

<section class="text-center">
    <b>Oups! Pagină în construcție!</b>
    <br/>
    <small>Ne străduim să terminăm cât mai repede!</small>

</section>

</div>