title = "tinichigerie-vopsitorie-multimarca"
url = "/tinichigerie-vopsitorie-multimarca"
layout = "default"
is_hidden = 0
==
<div class="container" id="content">
<h1>
    Tinichigerie și vopsitorie
    <span>Multimarcă</span>
</h1>
<h2>AVANTAJE:</h2>
<ul>
    <li>Decontare directa cu majoritatea societaților de asigurare(timp de așteptare 0)</li>
    <li>Reparație rapidă și informare detaliată</li>
    <li>Posibilitatea de masină la schimb pe perioada reparației</li>
    <li>Preluare-predare auto la domiciliu</li>
    <li>Oferim garanție lucrarilor efectuate</li>
    <li>Consilier recepție dedicat</li>
</ul>
<h2>VOPSITORIE AUTO CU SERVICII COMPLETE</h2>
<p>Fie că vrei să repari urmele unei coliziuni, să întineresti o masină mai veche sau să schimbi aspectul masinii tale preferate,
    Casa Auto Mecca îți este alături prin servicii complete ce includ
    constatarea în cazul unei daune, <b>vopsitorie auto la standarde de cea mai înalta calitate</b> și tinichigerie.<br>
    Service-ul nostru poate realiza o varietate de servicii de vopsitorie auto, de la mici reparații pentru acoperirea unor
    zgârieturi sau lovituri, pană la vopsirea completă a autoturismului.<br>
    Ne ocupăm de <b>retușuri, polish, reparații zgârieturi bumper, vopsire elemente, restaurare, vopsire integrala.</b>
</p>
<h2>CALITATE FĂRA COMPROMIS</h2>
<p>Vopsirea autovehiculelor se realizeaza la standarde de calitate specifice fabricantului.<br>
    Specialiștii nostri își desfasoara activitatea utilizand cele mai moderne metode tehnice.<br>
    În acelasi timp, noi îți oferim la nevoie posibilitatea de a repara cu costuri minime de tinichigerie
    piese care ar necesita înlocuire.
</p>
<h2>DOTĂRILE VOPSITORIEI AUTO DIN CADRUL CASA AUTO MECCA</h2>
<ul>
    <li>Cabină de vopsit de înalta performanța</li>
    <li>Stație de pregatire ultraperformanta;</li>
    <li>Toate posturile de lucru din vopsitorie sunt dotate cu echipamente tehnice moderne, ce asigura furnizarea de aer
    comprimat si vacuum necesare funcționarii sculelor special destinate unei activitati de vopsitorie profesionala;</li>
    <li>Produsele pe care le folosim sunt de cea mai înalta calitate, deoarece colaborăm cu furnizori de renume in industria
    service-urilor auto, cum sunt Standox si 3M.</li>
    <li>În acelasi timp, îți oferim la nevoie posibilitatea de a repara cu costuri minime de tinichigerie piese care ar necesita
    înlocuire.</li>
    <li>Laboratorul de preparare și mixare a vopselelor din cadrul vopsitoriei este dotat cu toate dispozitivele și
    echipamentele pentru realizarea exacta a nuanței dorite, cât și a cantitătii optime necesare vopsirii diverselor
    elemente de caroserie.</li>
    <li>Vopsirea autovehiculelor se realizeaza la standarde de calitate specifice fabricantului.</li>
</ul>
   <p> Ne bazăm pe aceste argumente pentru că ne dorim sa putem efectua lucrări de o calitate ireprosabila, iar clientul
să obtina rezultatele dorite. Acesta este scopul Casa Auto Mecca, pentru ca tu să revii si să ne recomanzi cel putin o data!</p>

</div>