body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

i.fa { vertical-align: middle; }
img { max-width: 100%; }

a, a:active, a:focus {
    color: #000000;
    text-decoration: none;
}

.fa-phone-square { color: #650024; }
.fa-envelope-square { color: #d1ab6d; }
.fa-facebook-square { color: #3B5998; }
.fa-google-plus-square { color: #DB4437; }

#top-logo { padding: 30px; }
#top-logo img { max-width: 250px; }

#top {
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 2px solid #eee;
}

#top a {
    padding: 0 0 0 5px;
    display: inline-block;
}

#top a:hover {
    color: #000;
    text-decoration: none;
}

ul#top-menu { margin-bottom: 0; font-weight: 300; }
ul#top-menu li a { padding: 0 5px; }
ul#top-menu li a:hover,
ul#top-menu li a.active
{ background: #650024; color: #fff; }
ul#top-menu > .facebook > a:hover {background-color: #FFFFFF; color: #333; font-weight: bold;}
ul#top-menu > .facebook > a {outline: none;}

#mainMenu {
    border: 0;
    border-top: 2px solid #eee;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
}
#mainMenu ul.navbar-nav {
    float: none!important;
    display: inline-block;
    margin: 0;
}
#mainMenu ul.navbar-nav > li > a {
    text-shadow: none;
    box-shadow: none;
    color: #000;
}
#mainMenu ul.navbar-nav > .open>a,
#mainMenu ul.navbar-nav > li > a:hover,
#mainMenu ul.navbar-nav > li > a:focus,
#mainMenu ul.navbar-nav > li > a.active,
#mainMenu ul.navbar-nav > li > a:active {
    background: #d1ab6d;
    color: #FFFFFF;
}

.dropdown-menu {
    background-color: #d1ab6d;
    border: 0;
    padding: 10px 0;
    min-width: 200px;
}

.dropdown-menu > li > a {
    padding: 3px 15px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a.active
{
    background: #650024;
    color: #FFFFFF;
}

#banner {
    /*padding-left: 0;*/
    /*height: 300px;*/
    /*background: url('../images/banners/motor-sport.png');*/
    /*background-size: auto 100%;*/
}
#quick-menu { padding: 0; }

#quick-menu ul { margin: 0; }

#quick-menu ul li button {
    width: 100%;
    height: 100px;
    border-radius: 0;
    border: 0;
    background: #333;
    line-height: 15px;
}

#quick-menu ul li button:hover {
    background: #000;
    font-weight: bold;
}


#hyundai { background: #000; color: #fff; }
#hyundai p { margin: 10px 0; }


#noutati {
    list-style: none;
}

#noutati > li {
    border-bottom: solid;
    border-width: 1px;
    padding: 8px 0px 8px 0px;
}

#noutati > li > i {
    padding: 0px 5px 0px 10px;
}

#map { height: 300px; border-top: 3px solid #650024; overflow: hidden; }
#map > iframe { pointer-events: none;  }
#map-title {
    margin-bottom: -25px;
    position: relative;
    z-index: 10;
    text-align: center;
}

#map-title h3 {
    background: #650024;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font: bold 18px 'Open Sans';
}

#footer {
    box-sizing: border-box;
    border-top: 3px solid #d1ab6d;
    border-bottom: 30px solid #d1ab6d;
    color: #fff;
    background: #000;
    padding: 20px 0px;
}

#footer i.fa { color: #650024; display: block; margin: 5px 0; }
#footer img { max-width: 250px; width: 100%; }
#footer input { border-radius: 50px; border: 0; }

#footer button {
    border-radius: 50px;
    background: #650024;
    color: #fff;
    margin-top: 15px;
    border: 0;
    text-shadow: none;
}

#news {
    font-weight: bold;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-top: 5px;
}

h1 i.fa {
    display: block;
    font-size: 16px;
    color: #d1ab6d;
}

h1 span {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;


}

h2{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.3px;
    color: #650024;

}

blockquote {
    font-size: 14px;
}

#content { margin-top: 30px; margin-bottom: 60px; }
#content p,ul > li { letter-spacing: -0.4px; }

a#toTop{
    color: #FFFFFF;;
    opacity: 0.9;
    background-color: #650024;
    border-radius: 50%;
    width:40px;
    height:40px;
    line-height:40px;
    position: fixed;
    z-index: 1000;
    right: 5px;
    bottom: 1px;
    outline: none;
}
a#toTop:hover{
    text-decoration: none;
    opacity: 1;
}

a.product {
    display: block;
    border: 1px solid #D1AB6B;
    border-radius: 3px;
    margin-bottom: 30px;
    min-height: 200px;
    text-align: center;
    overflow: hidden;
}

a.product:hover {
    text-decoration: none;
    border: 1px solid #6E0431;
}

a.product .img-holder { height: 200px; padding: 20px; }
a.product .img-holder img { width: 300px; max-width: 100%; }

a.product .prod-name {
    font-weight: bold;
    padding: 10px;
    background: rgba(209, 171, 108, 0.6);
}


.text-yellow { color: #D1AB6B; }
.text-red { color: #6E0431; }

a.product:hover .prod-name {
    background: #6E0431;
    color: #fff;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    background-color: #6E0431;
    border-color: #6E0431;
}

.pagination>li>a,
.pagination>li>span {
    color: #6E0431;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:hover {
    color: #6E0431;
}

ul#sidebar_subcategs li {
    text-align: right;
    border-bottom: 1px dotted #6E0431;
}

ul#sidebar_subcategs li:last-child {
    border: 0;
}

ul#sidebar_subcategs li a {
    display: block;
    padding: 5px;
}

ul#sidebar_subcategs li.active a {
    color: #fff;
    background: #6E0431;
}

ul#sidebar_subcategs li a:hover {
    text-decoration: none;
    color: #6E0431;
    background: rgba(209, 171, 108, 0.2);
}

a.mini-prod {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}
a.mini-prod:hover { text-decoration: none;}

a.mini-prod span {
    font-weight: 300;
}

a.boxy {
    text-align: center;
    border: 1px solid #eee;
    display: block;
    margin-bottom: 30px;
    padding: 10px 10px 0;
    border-radius: 5px;
}

a.boxy:hover {
    text-decoration: none;
    color: #6E0431;
    border-color: #6E0431;
    background: #eee;
}

a.boxy h3 { font-weight: bold; }

label.error { font-weight: normal!important; color: red!important; }

@media (max-width: 991px) {
    ul#sidebar_subcategs li {
        text-align: center;
    }
}

@media screen and (min-width: 1200px){
    #product_list > div:nth-of-type(3n+1){
    clear: left;
    }
}