
    <div id="footer">
        <div class="container">
            <div class="col-sm-4 text-center" >
                <p class="text-center" style="font-style: italic; padding-top: 10px;"><b>ECHIPA NOASTRĂ TE AȘTEAPTĂ:</b><br>
                    Ploiești, Str. Apelor 2 (lângă Artsani și AFI Mall)<br>
                    Tel/fax: <a href="tel:0244 515 736" style="color: #fff; text-decoration: none;">0244 515 736</a><br>
                    <a href="mailto:contact@casaautomecca.ro" style="color: #fff; text-decoration: none;">contact@casaautomecca.ro</a>
                </p>
            </div>

            <div class="col-sm-4 text-center">
                <img src="{{'assets/images/logo2.png'|theme}}" alt="" />
            </div>

            <div class="col-sm-4 text-center">
                <p id="news">Afla primul noutățile!</p>

                <input class="form-control" type="email" name="email" required placeholder="email">

                <button class="btn btn-default">Înscriere</button>
            </div>
        </div>
    </div>
    <a href="#" id="toTop" class="text-center">TOP</a>

    <div style="padding: 5px;" class="text-center">
        Website realizat de <a href="http://www.eastwest.ro/" target="_blank">EastWest</a> si <a href="http://www.dybo.ro/" target="_blank">Dybo</a>
    </div>

