{% set products = __SELF__.products %}


    {% for product in products %}
        <div class="col-sm-4"> 
            <a class="product" href="{{product.category.parent}}/{{product.category.uri}}/{{product.uri}}">
                <div class="img-holder">
                    <img src="{{'assets/images/products'|theme}}/{{product.image}}">
                </div>
                <div class="prod-name">
                    {{product.name}}
                </div>
            </a>
        </div>
    {% endfor %}





